# Production env config, do not put secrets in here !!
VUE_APP_API_URL=stage.appointment.day/api/v1/
VUE_APP_BASE_URL=stage.appointment.day
VUE_APP_API_SECURE=true
VUE_APP_SHORT_BASE_URL=https://stage.apmt.day

VUE_APP_AUTH0_DOMAIN=thunderbird.eu.auth0.com
VUE_APP_AUTH0_CLIENT_ID=Dvw6O6hPwXg7jZD7p7yAAnLXR2PXiQHF
VUE_APP_AUTH0_AUDIENCE=http://127.0.0.1:8000/
