# Production env config, do not put secrets in here !!
VITE_API_URL=appointment.day/api/v1/
VITE_BASE_URL=appointment.day
VITE_API_SECURE=true
VITE_SHORT_BASE_URL=https://apmt.day

# -- Sentry --
VITE_SENTRY_DSN=https://66f57328baac4929be7d62b77f41b510@o4505428107853824.ingest.sentry.io/4505428280279040

# -- Auth scheme --
VITE_AUTH_SCHEME=fxa

# For fxa
VITE_FXA_EDIT_PROFILE=https://accounts.firefox.com/settings
