services:

  # Thunderbird Accounts
  accounts:
    extends:
      file: accounts/docker-compose.yml
      service: backend
    ports:
      - "8087:8087"
    environment:
      - DEFAULT_CLIENT=Appointment
      - DEFAULT_CONTACT_NAME=Thunderbird
      - DEFAULT_CONTACT_EMAIL=no-reply@example.org
      - DEFAULT_CONTACT_WEBSITE=https://appointment.day
      - DEFAULT_ENV_REDIRECT_URL=http://localhost:5173/auth/accounts/callback
      - DEFAULT_ENV_ALLOWED_HOSTNAMES='["localhost:8080", "accounts:8087"]'
      - DEFAULT_ENV_ACCESS_TOKEN=0xdeadbeef

  postgres:
    volumes:
      - accounts_db:/var/lib/postgresql/data
    extends:
      file: accounts/docker-compose.yml
      service: postgres

  # Thunderbird Appointment
  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./backend/.env:/app/.env
      - ./backend/src/appointment:/app/appointment
    environment:
      - DATABASE_URL=mysql+mysqldb://tba:tba@mysql:3306/appointment
      - TB_ACCOUNTS_SECRET=0xdeadbeef
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./frontend
    volumes:
      - './frontend:/app'
      - '/app/node_modules'
    ports:
      - "8080:8080"
    environment:
      - WATCHPACK_POLLING=true

  mysql:
    image: mysql:8
    volumes:
      - db:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=appointment
      - MYSQL_USER=tba
      - MYSQL_PASSWORD=tba
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 55

  redis:
    image: redis/redis-stack
    volumes:
      - cache:/data
    ports:
      - "6379:6379" # Redis exposed on port 6379
      - "8070:8001" # Insights exposed on port 8070

  mailpit:
    image: axllent/mailpit
    environment:
      - MP_SMTP_AUTH_ALLOW_INSECURE=true
    ports:
      - "8025:8025" # Web UI
      - "1025:1024" # SMTP

volumes:
  accounts_db: {}
  db: {}
  cache: {}
