[run]
data_file = .coverage
source = src/
relative_files = True
omit =
    # omit some folders we don't want coverage results for
    scripts/*
    src/appointment/migrations/*
    test/*

[report]
omit =
    # omit some folders we don't want coverage results for
    scripts/*
    src/appointment/migrations/*
    test/*
fail_under = 70