# Appointment backend configuration.

# -- GENERAL --
# Logging level: DEBUG|INFO|WARNING|ERROR|CRITICAL
LOG_LEVEL=ERROR
LOG_USE_STREAM=1
# Possible values: prod, dev
APP_ENV=dev
# List of comma separated admin usernames. USE WITH CAUTION! Those can do serious damage to the data.
APP_ADMIN_ALLOW_LIST=
APP_SETUP
APP_ALLOW_FIRST_TIME_REGISTER=

# -- BACKEND --
BACKEND_URL=http://localhost:5173

# -- FRONTEND --
FRONTEND_URL=http://localhost:8080
# Leave blank for no short url
SHORT_BASE_URL=

# -- DATABASE --
DATABASE_URL="mysql+mysqldb://tba:tba@mysql:3306/appointment"
# Secret phrase for database encryption (e.g. create it by running `openssl rand -hex 32`)
DB_SECRET=

# -- SESSION --
# Secret phrase for session encryption
SESSION_SECRET=

CSRF_SECRET="some-long-string-that-should-probably-be-secure"

# -- MAIL --
# Service email for emails on behalf of Thunderbird Appointment
SERVICE_EMAIL=no-reply@appointment.day
# Email address for contact or support requests. If the value is empty the support form will error out
SUPPORT_EMAIL=
# Connection security: SSL|STARTTLS|NONE
SMTP_SECURITY=NONE
# Address and port of the SMTP server
SMTP_URL=mailpit
# Mailpit
SMTP_PORT=1025
# SMTP user credentials
SMTP_USER=
SMTP_PASS=
# Authorized email address for sending emails, leave empty to default to organizer
SMTP_SENDER=

# -- TIERS --
# Max number of calendars to be simultanously connected for members of the basic tier
TIER_BASIC_CALENDAR_LIMIT=3
# Max number of calendars to be simultanously connected for members of the plus tier
TIER_PLUS_CALENDAR_LIMIT=5
# Max number of calendars to be simultanously connected for members of the pro tier
TIER_PRO_CALENDAR_LIMIT=10

# -- GENERAL AUTHENTICATION --
# Possible values: password, fxa, accounts
# See: defines.AuthScheme for all values
AUTH_SCHEME=password

# Used for local jwt tokens
JWT_SECRET=
JWT_ALGO=HS256
JWT_EXPIRE_IN_MINS=10000

# -- FIREFOX AUTH --
# Deprecated
FXA_OPEN_ID_CONFIG=
FXA_CLIENT_ID=
FXA_SECRET=
FXA_CALLBACK=
FXA_ALLOW_LIST=

# -- TB ACCOUNTS AUTH --
TB_ACCOUNTS_HOST=http://localhost:8087
TB_ACCOUNTS_CALLBACK=http://localhost:5173/accounts/callback
TB_ACCOUNTS_CLIENT_ID
TB_ACCOUNTS_SECRET

# -- GOOGLE AUTH --
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_SECRET=
GOOGLE_AUTH_PROJECT_ID=
GOOGLE_AUTH_CALLBACK=http://localhost:5000/google/callback

# -- Zoom API --
ZOOM_API_ENABLED=False
ZOOM_AUTH_CLIENT_ID=
ZOOM_AUTH_SECRET=
ZOOM_AUTH_CALLBACK=http://localhost:5173/zoom/callback

# -- SIGNED URL SECRET --
# Shared secret for url signing (e.g. create it by running `openssl rand -hex 32`)
SIGNED_SECRET=

# If empty, sentry will be disabled
SENTRY_DSN=

# -- TESTING --
CALDAV_TEST_PRINCIPAL_URL=
CALDAV_TEST_CALENDAR_URL=
CALDAV_TEST_USER=
CALDAV_TEST_PASS=
GOOGLE_TEST_USER=
GOOGLE_TEST_PASS=

# -- Redis --
REDIS_URL=redis
REDIS_PORT=6379
REDIS_DB=0
# No value = Python None
REDIS_PASSWORD
REDIS_USE_SSL
# Connect to a redis cluster instead of a single instance
REDIS_USE_CLUSTER

# In minutes, the time a cached remote event will expire at.
REDIS_EVENT_EXPIRE_TIME=15

TBA_PRIVACY_POLICY_LOCATION=../legal/services-privacy-policy.md
TBA_TERMS_OF_USE_LOCATION=https://raw.githubusercontent.com/mozilla/legal-docs/main/{locale}/websites_tou.md

POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_KEY=
POSTHOG_PROJECT_ID=
POSTHOG_REGION="US Cloud"

