{
    "web": {
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "client_id": "some-string.apps.googleusercontent.com",
        "client_secret": "SOME-SECRET",
        "javascript_origins": [
            "http://allowe-origin-uri"
        ],
        "project_id": "project-id",
        "redirect_uris": [
            "http://allowed-redirect-uri"
        ],
        "token_uri": "https://oauth2.googleapis.com/token"
    }
}
