alembic==1.*
argon2-cffi==25.*
argon2-cffi-bindings==25.*
Babel==2.*
caldav==1.6.0
cryptography==46.*
dnspython==2.*
fastapi[standard]==0.*
fluent.runtime==0.4.0
fluent.syntax==0.19.0
google-api-python-client==2.*
google-auth-httplib2==0.*
google-auth-oauthlib==1.*
hiredis==2.*
jinja2==3.*
icalendar==5.*
itsdangerous==2.*
markdown==3.*
MarkupSafe==2.*
nh3==0.*
oauthlib==3.*
posthog==3.23.0
psycopg[binary]==3.2.12
python-dotenv==1.*
python-multipart==0.*
PyJWT==2.*
pydantic[email]==2.*
requests-oauthlib==2.*
redis==5.*
sentry-sdk==2.*
slowapi==0.*
starlette-context==0.*
starlette-csrf==3.*
sqlalchemy-utils==0.*
sqlalchemy==2.*
typer==0.*
tzdata==2025.*
uvicorn==0.*
validators==0.*
Authlib==1.*
