{% extends "includes/base.jinja2" %}
{# Helper vars #}
{% set clock_image_small = '<img style="width: 12px; height: 12px;" alt="" src="cid:%(cid)s" />'|format(cid=clock_icon_cid) %}
{% set triangle_image_small = '<img style="width: 12px; height: 12px;" alt="" src="cid:%(cid)s" />'|format(cid=triangle_icon_cid) %}
{# Code begins! #}
{% block introduction %}
  {% set name_and_email = '<strong>%(name)s</strong> (%(email)s)'|format(name=owner_name|escape, email=owner_email|escape) %}
  <div style="color: {{ colour_text_base }}; font-size: 20px; font-weight: 700;">
    {{ l10n('cancel-mail-html-heading', {'name_and_email': name_and_email}, lang)|safe }}
  </div>
{% endblock %}
{% block information %}
  <div style="
    display: inline-flex;
    align-items: center;
    gap: 3px;
    border: 1px solid {{ colour_danger_default }};
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 12px;
    background-color: {{ colour_danger_soft }};
    color: {{ colour_danger_default }};
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
  ">
    {{ triangle_image_small|safe }} {{ l10n('cancel-mail-html-badge', lang=lang) }}
  </div>
  <div style="font-size: 16px; font-weight: 700; color: {{ colour_icon_secondary }}; margin-bottom: 8px;">
    {{ schedule_name }}
  </div>
  <div style="font-weight: 700; margin-bottom: 4px;">
    {{ day }} {{ start_time }} {{ timezone }}
  </div>
  <div style="color: {{ colour_icon_secondary }}; display: flex; align-items: center; gap: 3px; font-size: 9px; font-weight: 700; text-transform: uppercase; margin-bottom: 16px;">
    {{ clock_image_small|safe }} {{ l10n('mail-html-time', {'duration': duration}, lang) }}
  </div>
  <hr style="border: none; border-top: 1px solid {{ colour_border }}; margin: 0 0 16px 0;" />
  <div style="color: {{ colour_text_base }}; font-size: 11px; margin-bottom: 2px;">
    {{ l10n('mail-html-meeting-with', lang=lang) }}
  </div>
  <div>
    {{ attendee_email }}
  </div>
{% endblock %}
