<html lang="en">
  <body>
    <p>{{ name }} just booked this time slot from your schedule: {{ date }}.</p>
    <p>Confirm the booking: {{ confirm }}.</p>
    <p>Or deny it: {{ deny }}.</p>
  </body>
</html>
