{% extends "includes/base.jinja2" %}
{# Helper vars #}
{% set clock_image_small = '<img style="width: 12px; height: 12px;" alt="" src="cid:%(cid)s" />'|format(cid=clock_icon_cid) %}
{# Code begins! #}
{% block introduction %}
  <div style="color: {{ colour_text_base }}; font-size: 20px; font-weight: 600;">
    {{ l10n('confirm-mail-html-heading', {'name': name, 'email': email, 'schedule_name': schedule_name}, lang) }}
  </div>
{% endblock %}
{% block information %}
  <div style="font-size: 20px; font-weight: 600; color: {{ colour_icon_secondary }}; margin-bottom: 4px;">
    {{ schedule_name }}
  </div>
  <div style="margin-bottom: 4px;">
    {{ day }} {{ start_time }} {{ timezone }}
  </div>
  <div style="color: {{ colour_icon_secondary }}; display: flex; align-items: center; gap: 3px; font-size: 10px; font-weight: 700; text-transform: uppercase; margin-bottom: 16px;">
    {{ clock_image_small|safe }} {{ l10n('mail-html-time', {'duration': duration}, lang) }}
  </div>
  <hr style="border: none; border-top: 1px solid {{ colour_border }}; margin: 0 0 16px 0;" />
  <div style="color: {{ colour_text_base }}; font-size: 14px; margin-bottom: 16px; line-height: 1.23;">
    {{ l10n('mail-html-meeting-with', lang=lang) }}<br />
    {{ email }}
  </div>
  <a href="{{ homepage_url }}/bookings/{{ appointment_slug }}" style="color: {{ colour_primary_pressed }}; text-decoration: underline; font-size: 13px;">
    {{ l10n('confirm-mail-html-open-link', lang=lang) }}
  </a>
{% endblock %}
{% block call_to_action %}
  <div class="apmt-row" style="gap: 16px;">
    <a
      href="{{ deny }}"
      style="
        background: {{ colour_neutral }};
        border-radius: 3px;
        border: 1px solid {{ colour_primary }};
        box-shadow: 0 2px 4px 0 #0000001f;
        box-sizing: border-box;
        color: {{ colour_primary }};
        display: block;
        flex: 1 1 0;
        font-size: 13px;
        font-weight: 700;
        min-width: 128px;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        "
    >{{ l10n('confirm-mail-html-deny-action', lang=lang) }}</a>
    <a
      href="{{ confirm }}"
      style="
        background: {{ colour_primary }};
        border-radius: 3px;
        border: 1px solid {{ colour_primary }};
        box-shadow: 0 2px 4px 0 #0000001f;
        box-sizing: border-box;
        color: {{ colour_neutral }};
        display: block;
        flex: 1 1 0;
        font-size: 13px;
        font-weight: 700;
        min-width: 128px;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        "
    >{{ l10n('confirm-mail-html-confirm-action', lang=lang) }}</a>
  </div>
{% endblock %}
