{% extends "includes/base.jinja2" %}
{# Helper vars #}
{% set clock_image_small = '<img style="width: 12px; height: 12px;" alt="" src="cid:%(cid)s" />'|format(cid=clock_icon_cid) %}
{% set check_image_small = '<img style="width: 12px; height: 12px;" alt="" src="cid:%(cid)s" />'|format(cid=check_icon_cid) %}
{# Code begins! #}
{% block introduction %}
  <div style="color: {{ colour_text_base }}; font-size: 20px; font-weight: 600;">
    {{ l10n('invite-mail-html-heading', {'name': name, 'email': email}, lang) }}
  </div>
{% endblock %}
{% block information %}
  <div style="
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border: 1px solid {{ colour_ti_success }};
    border-radius: 999px;
    padding: 0 4px 0 12px;
    margin-bottom: 12px;
    background-color: {{ colour_success_soft }};
    color: {{ colour_icon_secondary }};
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  ">
    {{ check_image_small|safe }} {{ l10n('invite-mail-html-badge', lang=lang) }}
  </div>
  <div style="font-size: 20px; font-weight: 600; color: {{ colour_icon_secondary }}; margin-bottom: 4px;">
    {{ schedule_name }}
  </div>
  <div style="margin-bottom: 4px;">
    {{ day }} {{ start_time }} {{ timezone }}
  </div>
  <div style="color: {{ colour_icon_secondary }}; display: flex; align-items: center; gap: 3px; font-size: 10px; font-weight: 700; text-transform: uppercase; margin-bottom: 16px;">
    {{ clock_image_small|safe }} {{ l10n('mail-html-time', {'duration': duration}, lang) }}
  </div>
  <hr style="border: none; border-top: 1px solid {{ colour_border }}; margin: 0 0 16px 0;" />
  {% if meeting_link_url %}
  <div style="margin-bottom: 12px;">
    <a href="{{ meeting_link_url }}" style="color: {{ colour_primary }}; text-decoration: underline; font-size: 12px;">
      {{ l10n('invite-mail-html-meeting-link', lang=lang) }}
    </a>
  </div>
  {% endif %}
  <div style="color: {{ colour_text_base }}; font-size: 14px;">
    {{ l10n('mail-html-meeting-with', lang=lang) }}<br />
    {{ attendee_email }}
  </div>
{% endblock %}
{% block call_to_action %}
  <div style="color: {{ colour_icon_secondary }};">
    {{ l10n('invite-mail-html-invite-is-attached', lang=lang) }}
  </div>
{% endblock %}
