{% extends "includes/base.jinja2" %}
{# Code begins! #}
{% block information %}
  <div style="color: {{ colour_text_base }}; text-align: center;">
    <p style="color: {{ colour_tbpro_apmt_primary_hover }}; font-weight: 600; font-size: 16px; line-height: 19px;">
      {{ l10n('new-account-mail-html-heading') }}
    </p>
    <p style="font-weight: 400; font-size: 10px; line-height: 12px;">
      {{ l10n('new-account-mail-html-body', {'date': date}) }}
    </p>
    <p style="font-weight: 400; font-size: 13px; line-height: 16px;">
      {{ l10n('new-account-mail-html-body-2', {'link': homepage_url}) }}
    </p>
    <p style="margin-bottom: 16px">
      <a
        href="{{ homepage_url }}"
        style="
          background: {{ colour_tbpro_apmt_primary }};
          border-radius: 3px;
          border: 1px solid {{ colour_tbpro_apmt_primary_hover }};
          box-shadow: 0px 6px 3px -4px rgba(21, 47, 60, 0.30);
          color: {{ colour_neutral }};
          display: inline-block;
          font-size: 13px;
          font-weight: 700;
          padding: 12px 24px;
          text-decoration:none;
          white-space: nowrap;
        "
      >{{ l10n('new-account-mail-action') }}</a>
    </p>
    <p style="color: {{ colour_icon_secondary }}; font-weight: 400; font-size: 10px; line-height: 12px; margin: 0;">
      {{ l10n('mail-brand-reply-hint') }}
    </p>
  </div>
{% endblock %}
