{% extends "includes/base.jinja2" %}
{# Helper vars #}
{% set clock_icon_img = '<img style="display: inline-block; width: 12px; height: 12px; margin-right: 3px;" alt="" src="cid:%(cid)s" />'|format(cid=clock_icon_cid) %}
{% set warning_icon_img = '<img style="display: inline-block; width: 12px; height: 12px; margin-right: 4px;" alt="" src="cid:%(cid)s" />'|format(cid=warning_icon_cid) %}
{# Code begins! #}
{% block introduction %}
  <div style="color: {{ colour_text_base }}; font-size: 20px; font-weight: 600; margin-bottom: 16px;">
    {{ l10n('pending-mail-html-heading', {'owner_name': owner_name, 'owner_email': owner_email}, lang) }}
  </div>
  <div style="color: {{ colour_text_base }}; font-size: 17px; line-height: 22px; letter-spacing: -0.43px;">
    {{ l10n('pending-mail-html-subheading', lang=lang) }}
  </div>
{% endblock %}
{% block information %}
  <div style="
    display: inline-flex;
    align-items: center;
    border: 1px solid {{ colour_warning_default }};
    border-radius: 999px;
    padding: 0 12px 0 4px;
    margin-bottom: 12px;
    background-color: {{ colour_warning_soft }};
    color: {{ colour_icon_secondary }};
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
  ">
    {{ warning_icon_img|safe }} {{ l10n('pending-mail-html-badge', lang=lang) }}
  </div>
  <div style="font-size: 20px; font-weight: 600; color: {{ colour_icon_secondary }}; margin-bottom: 4px;">
    {{ schedule_name }}
  </div>
  <div style="margin-bottom: 4px;">
    {{ day }} {{ start_time }} {{ timezone }}
  </div>
  <div style="color: {{ colour_icon_secondary }}; display: flex; align-items: center; font-size: 10px; font-weight: 700; text-transform: uppercase; margin-bottom: 16px;">
    {{ clock_icon_img|safe }} {{ l10n('mail-html-time', {'duration': duration}, lang) }}
  </div>
  <hr style="border: none; border-top: 1px solid {{ colour_border }}; margin: 0 0 16px 0;" />
  <div style="color: {{ colour_text_base }}; font-size: 14px; line-height: 1.23;">
    {{ l10n('mail-html-meeting-with', lang=lang) }}<br />
    {{ attendee_email }}
  </div>
{% endblock %}
