<html lang="{{ l10n('locale') }}">
  <body>
    <p>
      {{ l10n('pending-mail-html-heading', {'owner_name': owner_name, 'date': date}) }}
    </p>
    {% include 'includes/footer.jinja2' %}
  </body>
</html>
