<html lang="en">
  <body>
    <p>
      {{ owner.name|title }} denied your booking request for this time slot: {{ date }}.
    </p>
    <p>
      This message is sent from <b>Thunderbird Appointment</b>.
    </p>
  </body>
</html>
