{% extends "includes/base.jinja2" %}
{# Code begins! #}
{% block introduction %}
  <div style="color: {{ colour_text_base }}; text-align: center; line-height: 16px;">
    <p>
      {{ l10n('reject-mail-html-heading', {'owner_name': owner_name, 'date': date}, lang=lang) }}
    </p>
  </div>
{% endblock %}
