{% extends "includes/base.jinja2" %}
{% set show_contact_form_hint = True %}
{# Code begins! #}
{% block introduction %}
  <div style="color: {{ colour_text_base }}; text-align: center; line-height: 16px;">
    <p>{{ l10n('zoom-invite-failed-html-heading', {'title': title}) }}</p>
  </div>
{% endblock %}
