# Appointment E2E Test Configuration

# URLs
APPT_PROD_URL=https://appointment.day/

# Production sign-in (FxA) credentials
APPT_PROD_LOGIN_EMAIL=
APPT_PROD_LOGIN_PWORD=

# Appointment user display name (settings => account) for above user
APPT_PROD_ACCT_DISPLAY_NAME=

# Production booking share links for the existing user above
APPT_PROD_SHARE_LINK_SHORT=
APPT_PROD_SHARE_LINK_LONG=
