# Appointment E2E Test Configuration

# URLs
APPT_URL=https://appointment.day/
APPT_SHORT_SHARE_LINK_PREFIX=https://apmt.day/
APPT_LONG_SHARE_LINK_PREFIX=https://appointment.day/user/

# Sign-in (FxA) credentials
APPT_LOGIN_EMAIL=
APPT_LOGIN_PWORD=

# Appointment user display name (settings => account => display name) for above user
APPT_DISPLAY_NAME=

# Booking share link for the existing user above (settings => account => my link)
APPT_MY_SHARE_LINK=

# Booking requester's name and email address (used when a booking slot is requested via the
# share link). Important: real appointment booking emails will be sent to the provided email.
APPT_BOOKING_REQUESTER_NAME='Automated-Test-Bot'
APPT_BOOKING_REQUESTER_EMAIL=
