# Appointment E2E Test Configuration
APPT_TARGET_ENV=dev

# URLs
APPT_URL=http://localhost:8080/

# Local sign-in credentials
TB_ACCTS_EMAIL=
TB_ACCTS_PWORD=

# Local Appointment user display name (settings => account => display name) for above user
APPT_DISPLAY_NAME=

# Booking share link for the existing local user above (settings => account => my link)
APPT_MY_SHARE_LINK=

# Booking requester's name and email address (used when a booking slot is requested via the
# share link). Important: real appointment booking emails will be sent to the provided email.
APPT_BOOKEE_NAME='Automated-Test-Bot-Dev'
APPT_BOOKEE_EMAIL=
