# Appointment E2E Test Configuration

# URLs
APPT_PROD_URL=https://appointment.day/
APPT_PROD_SHORT_SHARE_LINK_PREFIX=https://apmt.day/
APPT_PROD_LONG_SHARE_LINK_PREFIX=https://appointment.day/user/

# Production sign-in (FxA) credentials
APPT_PROD_LOGIN_EMAIL=
APPT_PROD_LOGIN_PWORD=

# Appointment user display name (settings => account => display name) for above user
APPT_PROD_DISPLAY_NAME=

# Production booking share link for the existing user above (settings => account => my link)
APPT_PROD_MY_SHARE_LINK=

# Booking requester's name and email address (used when a booking slot is requested via the
# share link). Important: real appointment booking emails will be sent to the provided email.
APPT_BOOKING_REQUESTER_NAME='Automated-Test-Bot'
APPT_BOOKING_REQUESTER_EMAIL=
