/* PostCSS Custom Media Plugin */
@custom-media --sm (min-width: 40.0rem); /* 640px */
@custom-media --md (min-width: 48.0rem); /* 768px */
@custom-media --lg (min-width: 64.0rem); /* 1024px */
@custom-media --xl (min-width: 80.0rem); /* 1280px */
