@import './colours.css';
@import './fonts.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* Yep this is needed to "properly" override tailwind form... */
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select,
  input,
  input:is(.dark *),
  select:is(.dark *),
  textarea:is(.dark *) {
    @apply transition-all dark:text-white bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-500 focus:ring-teal-500 focus:border-teal-500 checked:border-teal-500 checked:bg-teal-500;
  }

  hr {
    @apply border-t-gray-300 dark:border-t-gray-500
  }

  @font-face {
    font-family: 'Raleway';
    src: url('@/assets/fonts/Raleway-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-Light.ttf');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-Medium.ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('@/assets/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
  }
}

@layer components {
  .position-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .place-holder {
    @apply placeholder:text-gray-300 dark:placeholder:text-gray-500;
  }
  /* Appointment Defaults */
  .apmt-background-color {
    @apply bg-white dark:bg-gray-700;
  }
  .apmt-text-color {
    @apply text-gray-900 dark:text-gray-100;
  }
  .apmt-error-color {
    @apply text-red-600 dark:text-red-300;
  }
}

/* vue specific classes */
.v-enter-active,
.v-leave-active {
  @apply transition-opacity;
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0;
}

/* custom data table with wrapper */
.data-table {
  @apply rounded-xl w-full border py-2 border-gray-200 bg-gray-100 text-sm shadow-sm dark:border-gray-500 dark:bg-gray-700 mb-4 ml-auto mr-0;

  table {
    @apply w-full table-auto border-collapse text-sm;
  }

  thead, tfoot {
    @apply text-gray-600 dark:text-gray-300;
  }

  th {
    @apply px-4 text-left font-semibold;
  }
  thead th {
    @apply pb-4 pt-2;
  }
  tfoot th {
    @apply pb-2 pt-4;
  }
  td {
    @apply border-y border-gray-200 p-4 dark:border-gray-500;
  }
  tbody td {
    @apply bg-white dark:bg-gray-700;
  }
}

/* Force First Time User Experience to be different from the rest of the site */
.page-ftue, .new-design {
  font-family: 'Inter', 'sans-serif';
  font-size: 0.8125rem;
}


.is-light-mode {
  display: block;
}

.is-dark-mode {
  display: none;
}

.dark {
  .is-light-mode {
    display: none;
  }

  .is-dark-mode {
    display: block;
  }
}

.modal-active {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Prevent scrolling of the body when a HTML dialog is open */
body:has(dialog[open]) {
  overflow: hidden;
}
