@import './colours.css';
@import './fonts.css';
@import './variables.css';

/* Prevent padding and border from affecting element width. */
*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

/* Use a consistent sensible line-height in all browsers. */
html, :host {
  line-height: 1.5;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset links to optimize for opt-in styling instead of opt-out. */
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/* Add the correct font weight in Edge and Safari. */
b, strong {
  font-weight: bolder;
}

/* Correct the odd `em` font sizing in all browsers. */
code, kbd, samp, pre {
  font-size: 1em;
}

/* Reset table */
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

/* Reset lists */
ol, ul, menu {
  list-style: none;
}

/* Reset and default horizontal line */
hr {
  height: 0;
  border-top: 1px solid var(--colour-neutral-border);
}

/* Reset display for media elements */
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}
img, video {
  max-width: 100%;
  height: auto;
}

/* Reset form input elements */
button, input, select, optgroup, textarea, ::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;

  &:not(:disabled) {
    cursor: pointer;
  }
}

::placeholder {
  opacity: 1; /* Reset the default placeholder opacity in Firefox. */
}

:-moz-ui-invalid {
  box-shadow: none; /* Remove the additional `:invalid` styles in Firefox. */
}

/* Correct the inability to style the border radius in iOS Safari. */
button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}



/* Vue specific classes */
.v-enter-active,
.v-leave-active {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* Custom content for screen readers */
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Prevent scrolling of the body when a HTML dialog is open */
body:has(dialog[open]) {
  overflow: hidden;
}

/* Full height so that the footer is at the bottom regardless of main content's height */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-neutral-lower);
  color: var(--colour-ti-secondary);

  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
