@import './preflight.css';

@import './colours.css';
@import './fonts.css';
@import './variables.css';

[type='time'],
[type='time']:is(.dark *),
[type='password'],
[type='password']:is(.dark *),
[type='text'],
[type='text']:is(.dark *),
[type='email'],
[type='email']:is(.dark *) {
  border: none;
  background: none;
  padding: 0;
}

select {
  background-image: none; /* services-ui select already has a custom caret */
}

select {
  background-image: none; /* services-ui select already has a custom caret */
}

hr {
  border-top: 1px solid var(--colour-neutral-border);
}

/* vue specific classes */
.v-enter-active,
.v-leave-active {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


/* Force First Time User Experience to be different from the rest of the site */
.page-ftue, .new-design {
  font-family: 'Inter', 'sans-serif';
  font-size: 0.8125rem;
}


.is-light-mode {
  display: block;
}

.is-dark-mode {
  display: none;
}

.dark {
  .is-light-mode {
    display: none;
  }

  .is-dark-mode {
    display: block;
  }
}

.modal-active {
  overflow: hidden;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Prevent scrolling of the body when a HTML dialog is open */
body:has(dialog[open]) {
  overflow: hidden;
}

/* Full height so that the footer is at the bottom regardless of main content's height */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-neutral-lower);
  color: var(--colour-ti-secondary);

  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
